*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto',sans-serif;
}
body{
    background-color: rgb(36, 34, 143);
    color: #fff;
    height: 100%;
}
.conteinar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 100vw;
    height: 100vh;

}
form{
    display: flex;
    flex-direction: column;
    
}
.box{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    
}
h1{
    padding: 24px;

}
label,input{
    padding: 8px;
}
button{
    padding: 8px;
    margin-top: 8px;
    background-color: green;
    font-size: 24px;
    border: none;
    width: 100%;
    border-radius: 6px;
    font-weight: bold;
    font-style: italic;
    color: #fff;
    cursor: pointer;

}